* {
  padding: 0;
  border: 0;
}

html {
  background: #acacac;
}

#loading-screen {
  display: flex; /* THIS IS TEMP CHANGE TO FLEX WHEN DONE */
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background: rgb(32, 32, 32);
  animation: none;
  z-index: 999999;
}

@keyframes remove {
  0% {
  }
  100% {
    opacity: 0%;
  }
}

#view-portfolio {
  position: fixed;
  width: 150px;
  height: 40px;
  margin-top: 2000px;
  background: #5e5e5e;
  color: white;
  border-radius: 25px;
  font-family: "Julius Sans One";
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-color: #6bb3cd;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-align: center;
  animation: button 0.5s ease forwards;
}

#view-portfolio:hover {
  background-color: #6bb3cd;
  cursor: pointer;
}

@keyframes button {
  0% {
    margin-top: 2000px;
  }
  50% {
    margin-top: 255px;
  }
  100% {
    margin-top: 280px;
  }
}

#loading-corner-1 {
  position: absolute;
  left: 250px;
  top: 250px;
}

#loading-corner-2 {
  position: fixed;
  right: 250px;
  top: 250px;
}

#loading-corner-3 {
  position: fixed;
  left: 250px;
  bottom: 250px;
}

#loading-corner-4 {
  position: fixed;
  right: 250px;
  bottom: 250px;
}

#loading-title {
  position: fixed;
  color: #fff;
  font-family: "Julius Sans One";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-color: #6bb3cd;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-align: center;
}

#loading-subtitle {
  position: fixed;
  color: #fff;
  font-family: "Julius Sans One";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 165px;
  color: #fff;
  font-family: "Julius Sans One";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#loading-copyrights {
  position: fixed;
  color: #fff;
  font-family: "Julius Sans One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  bottom: 225px;
}

/* mobile css styles */

@media (max-width: 1200px) {
  #loading-screen {
    display: flex;
  }

  #loading-corner-1 {
    display: flex;
    left: 60px;
  }

  #loading-corner-2 {
    display: flex;
    right: 60px;
  }

  #loading-corner-3 {
    display: flex;
    left: 60px;
  }

  #loading-corner-4 {
    display: flex;
    right: 60px;
  }

  #loading-title {
    font-size: 52px;
    top: 380px;
  }

  #loading-subtitle {
    font-size: 44px;
    top: 460px;
  }

  #loading-copyrights {
    font-size: 12px;
    bottom: 235px;
  }

  #view-portfolio {
    font-size: 24px;
    width: 250px;
    height: 55px;
    border-radius: 30px;
  }
}

/* Main part of the CSS here */

.main-screen {
  display: flexbox;
  width: 100%;
  height: 98vh;
  justify-content: center;
  align-items: center;
  background: #acacac;
  overflow: hidden;
}

#main-corner-1 {
  position: absolute;
  top: 30px;
  left: 30px;
}

#main-corner-2 {
  position: absolute;
  top: 30px;
  right: 30px;
}

#main-corner-3 {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

#main-corner-4 {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

#main-heading {
  position: absolute;
  color: #000;
  font-family: "Julius Sans One";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 50px;
  left: 100px;
}

#middle-line {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: -450px;
}

#list {
  display: flexbox;
  width: 70px;
  margin-top: 300px;
  margin-left: 60px;
  text-decoration: none;
  list-style-type: none;
  color: #000;
  gap: 30px;
  font-family: "Julius Sans One";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 30px;
}

.list-text {
  padding: 10px;
}

.main-screen button {
  background: none;
  display: flexbox;
  text-decoration: none;
  list-style-type: none;
  color: #000;
  font-family: "Julius Sans One";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list-text:hover {
  cursor: pointer;
  font-size: 34px;
  color: #000;
  font-family: "Julius Sans One";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
  animation: text-grow 0.3s ease forwards;
}

/* CLASS THAT IS ADDED TO BUTTON ON PRESS*/

.btnActive {
  font-size: 34px;
  color: #000000;
  font-family: "Julius Sans One";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-color: rgba(164, 228, 255);
  text-decoration-thickness: 5.5%; /* 2.2px */
  text-underline-offset: 18.5%; /* 7.4px */
  text-underline-position: from-font;
  margin-left: 5px;
  animation: underline 1s ease-in-out infinite;
}

@keyframes underline {
  0% {
    text-decoration-color: rgba(164, 228, 255, 0.5);
  }
  50% {
    text-decoration-color: rgba(164, 228, 255, 1);
  }

  100% {
    text-decoration-color: rgba(164, 228, 255, 0.5);
  }
}

@keyframes text-grow {
  0% {
    font-size: 28px;
  }
  100% {
    font-size: 34px;
  }
}

.right-side-text {
  display: flex;
  width: 700px;
  height: 70vh;
  float: right;
  margin-top: -670px;
  margin-right: 50px;
}

.right-side-text a {
  color: #544eff;
  text-decoration: none;
}

.right-side-text a:hover {
  color: #453fff;
  text-decoration: underline;
}

#home-button-text {
  display: block;
  color: #000;
  width: 600px;
  margin-left: 30px;
  font-family: "Open Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#experience-text {
  display: none;
}

#project-list {
  display: none;
}

#contact-me {
  display: none;
}

#copyrights {
  display: none;
}
